// Desktop
section#rooms {
  background-color: #fff;
}
.rooms_list {
  //outline: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 100%;
  .rooms_item {
    //outline: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    height: 48%;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px rgba(#000, 0.3);
    background-color: #fff;
    cursor: pointer;
    &.empty {
      height: 0;
    }
    &:hover {
      .rooms_title {
        height: 0px;
      }
      .rooms_cost {
        top: 0px;
      }
      .rooms_order {
        height: 3rem;
      }
      .rooms_eye {
        i {
          font-size: 10rem;
          opacity: 0.5;
        }
      }
    }
    .rooms_title {
      //outline: 1px solid white;
      //position: absolute;
      //margin-bottom: 1rem;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 3.5rem;
      background-color: yellowgreen;
      color: #fff;
      @include transition(all 0.3s);
    }
    .rooms_photo {
      //outline: 1px solid yellow;
      flex-grow: 1;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center center;
      img {
        width: 100%;
        @include transition(all 1s);
        &:hover {

          max-width: 120%;
        }
      }
    }
    .rooms_cost {
      //outline: 1px solid purple;
      height: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      font-weight: bold;
      width: 100%;
      position: absolute;
      top: calc(100% - 3rem);
      background-color: #fff;
      @include transition(all 0.3s);
      //display: none;
    }
    .rooms_description {
      display: none;
    }
    .rooms_order {
      overflow: hidden;
      height: 0px;
      background-color: yellowgreen;
      color: #000;
      z-index: 10;
      @include transition(all 0.3s);
      &:hover {
        background-color: greenyellow;
      }
      //display: none;
    }
    .rooms_eye {
      width: 100%;
      height: 100%;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      i {
        @include transition(all 0.3s);
        opacity: 0;
        font-size: 1rem;
        color: #fff;
      }
    }
  }
}

// Laptop
@media screen and (max-width: $laptop){

}

// Tablet
@media screen and (max-width: $tablet){

}

// Mobile
@media screen and (max-width: $mobile){

}